/* default style */

/* common */
.hidden {
    display: none;
}

html{
    position:relative;
    min-height: 100%;
}

body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin: 0 0 75px 0;
}

button{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
 
header{
    width: 100%;
    position: relative;
}

.header-pic{
    background-image:
    linear-gradient(to right, rgba(200, 200, 255, 0.32), rgba(0, 21, 200, 0.47)),
    url("/asset/header_pic.webp");
    background-repeat: no-repeat;
    height: 200px;
    width:100%;
    background-size:cover;
    position:absolute;
    z-index:-1;
}

.logo{
    height:40px;
    display: inline-block;
}

.logo img{
    padding: 15px;
    width: 50px;
}

.lang{
    position: relative;
    display: inline-block;
    padding: 15px;
}

.lang-content{
    display: none;
    position: absolute;
    left:80px;
    background-color: #f1f1f1;
    min-width:40px;
    overflow:auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.lang-content a{
    color: black;
    padding: 10px;
    text-decoration: none;
    display: block;
}

.lang-content a:hover{
    text-decoration: underline;
}

.dropbtn{
    border:none;
    background-color:transparent;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size:1em;
    box-sizing: unset;
}

.dropbtn:hover{
    text-decoration: underline;
}

.dropbtn:focus{
    outline:none;
}

.login{
    float: right;
}

.login ul li{
    display: inline-block;
    
}

.login ul li a{
    text-decoration: none;
    color:#CCDDFF;
    padding: 10px;
}

.login ul li:hover{
    text-decoration: underline #123278;
}

.navigator{
    list-style: none;
    padding: 0;
    margin: 0;
}

.navigator li{
    background-color: rgba(235, 235, 235, 1);
    text-align: center;
    width: 98%;
    margin: 6px auto;
    box-shadow: 5px 5px 10px 3px rgba(0, 0, 0, 0.32);
    border-radius: 2px;
}

.navigator li a{
    display:block;
    padding: 15px;
    text-decoration: none;
    color: black;
}

.navigator li a:hover{
    text-decoration: underline;
    font-size: 1.02em;
}

footer{
    background-image: linear-gradient(to top, rgba(200, 200, 255, 0.32), rgba(0, 21, 200, 0.47));
    position: absolute;
    bottom: 0;
    width:100%;
    overflow:hidden;
    text-align: center;
    height: 55px;
}

footer div{
    margin: 10px 0 0 0;
}

.container{
    padding: 0 5px;
}

.container h1{
    font-weight: normal;
    text-align: center;
    font-size: 1.5em;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.32);
}

.container h2{
    font-weight: normal;
    font-size: 1.3em;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.32);
}

.container h3{
    font-weight: normal;
    font-size: 1.15em;
    padding: 0;
    margin: 0 0 5px 0;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.32);
}

.container h4{
    font-weight: normal;
    font-size: 1.05;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.32);
}

.container p{
    text-align:justify;
    padding: 2px 6px;
    font-size: 0.87em;
}

form[name=newsletter] input[type=email]{
    width:250px;
}

form[name=newsletter] button{
    float:right;
}

form[name="contact infos"]{
    padding: 5px 7px;
    box-shadow: 5px 5px 10px 3px rgba(0, 0, 0, 0.32);
    border-radius:2px;
}

form[name="contact infos"] button{
    width: 100%;
    padding: 5px 0;
}

.contact-field{
    margin: 8px 0;
}

.contact-field label{
    width:fit-content;
}

.contact-field input{
    float: right;
    width: 200px;
}

.contact-message label{
    vertical-align: top;
}

.contact-message textarea{
    margin: 5px auto;
    width: 97%;
}

.shopItem{
    padding: 9px 7px;
    box-shadow: 5px 5px 10px 3px rgba(0, 0, 0, 0.32);
    border-radius:2px;
    margin: 20px 0;
    background-image: linear-gradient(to bottom, rgba(200, 200, 255, 0.32), rgba(0, 21, 200, 0.47));
}

.shopItem .title{
    font-weight: bold;
    text-decoration: underline;
    padding: 0 0 7px 0;
}

.shopItem .description{
    text-align: justify;
    margin: 0 0 15px 0;
    font-size: 0.87em;
}

.shopItem .price{
    display: inline-block;
    font-weight: bold;
}

.shopItem .periode{
    display: inline-block;
    font-weight: bold;
}

.shopItem .priceButton{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.shopItem .priceTag{
    grid-column: span 2;
}

.shopItem .priceButton button{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 3px;
    grid-column: span 1;
}

.reviewBlock{
    display:none;
}

.reviewBlock p{
    background-color: rgba(235, 235, 235, 1);
    border-radius: 1px;
    box-shadow: 5px 5px 10px 3px rgba(0, 0, 0, 0.32);
}

.reviewBlock textarea{
    width: 95%;
    margin: auto;
    display: block;
}

.reviewBlock button[type=submit]{
    margin: 5px auto 0 auto;
    padding: 3px 30px;
    display: block;
}
.reviewBlock h4{
    margin-bottom: 10px;
}

.btnReview {
    border:none;
    background-color:transparent;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size:1em;
    box-sizing: unset;
    margin: 1em 0 0 0;
    padding:0;
    text-decoration: underline;
}

.btnReview:focus{
    outline:none;
}

/* desktop style */

@media screen and (min-width: 750px){

    .container{
        width:80%;
        margin:auto;
    }

    header{
        height: 300px;
    }

    .header-pic{
        height: 300px;
    }

    .navigator{
        background-color: rgba(235, 235, 235, 1);
        width: 98%;
        margin: 48px auto 0px auto;
        border-radius: 2px;
        box-shadow: 5px 5px 10px 3px rgba(0, 0, 0, 0.32);
    }

    .navigator li{
        display:inline-block;
        background-color: transparent;
        width: 17%;
        margin: 0;
        border-radius: 0;
        box-shadow: none;
    }

    .navigator li a{
        margin: 0;
    }

    form[name=newsletter] button{
        float: none;
        margin-left:10px;
    }

    form[name="contact infos"] button{
        width: 80px;
        padding: 5px 0;
    }

    .contact-field label{
        display: inline-block;
        width:100px;
    }

    .contact-field input{
        float: none;
        width:300px;
    }

    .allItem {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 7%;
    }

    .shopItem {
        grid-column: span 1;
        height: 250px;
        position:relative
    }

    .shopItem .priceButton{
        position: absolute;
        bottom: 10px;
        width: 95%;
    }

    .reviewBlock{
        padding: 5px;
        border-radius: 2px;
        box-shadow:5px 5px 10px 3px rgba(0, 0, 0, 0.32);
        z-index: 5;
        position:absolute;
        background-color:rgba(235, 235, 235, 1);
        background-image: linear-gradient(to top, rgba(200, 200, 255, 0.32), rgba(0, 21, 200, 0.47));
        left:90px;
        top:-40px;
        width: 250px;
    }
}
/* large desktop monitor */

@media screen and (min-width: 1050px){
    .allItem{
        grid-template-columns: repeat(3, 1fr);
    }
}

/* some stuff that needs to be done after everything else */
.show{
    display: block;
}

.hidden {
    display: none;
}