<!DOCTYPE html>
<html lang="{{languages.language}}">
<head>
    {%- set gAnaliticLink = "" %}
    {%- if FeatureFlagAndConfig.useDevLink %}
        {%- set gAnaliticLink = FeatureFlagAndConfig.devGoogleAnalitic %}
    {%- else %}
        {%- set gAnaliticLink = FeatureFlagAndConfig.ProdGoogleAnalitic %}
    {%- endif%}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id={{gAnaliticLink}}"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', '{{gAnaliticLink}}');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <meta name="description" content="{{languages.traductionFile.pageDescription}}" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Quick-exams" />
    <meta property="og:description" content="{{languages.traductionFile.pageDescription}}" />
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <script id="mcjs">!function(c,h,i,m,p){m=c.createElement(h),p=c.getElementsByTagName(h)[0],m.async=1,m.src=i,p.parentNode.insertBefore(m,p)}(document,"script","https://chimpstatic.com/mcjs-connected/js/users/3b137f2f98f7f0263123e54fe/207d046f8016a35853778ef24.js");</script>
    <script src="/js/cssjava.js"></script>
    <link rel="stylesheet" href="/css/style.css"/>
    <link rel="icon" type="image/x-icon" href="/asset/exam.svg" />
    <!-- Global site tag (gtag.js) - Google Analytics -->
</head>

<body>
    <header>
        <div class="header-pic"></div>
        <nav>
            <div class="logo-side">
                <div class="lang">
                    <button onclick="showLangMenu()" class="dropbtn">{{languages.traductionFile.selectLanguage}} ></button>
                    <div id="drop-content" class="lang-content">
                        {% set link = permalink|replace("/{{ languages.language }}/","")%}
                        {% if languages.language == "fr" %}
                            {% for lang in supportedLanguages %}
                                <a href="/{{lang}}/{{link}}">{{lang | upper}}</a>
                            {% endfor %}
                        {% else %}
                            {% for lang in supportedLanguages|reverse %}
                                <a href="/{{lang}}/{{link}}">{{lang | upper}}</a>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
                <div class="login" data-netlify-identity-menu></div>
            </div>
            <div class="logo">
                <a href="/">
                    <img src="/asset/exam.svg" alt="quick-exams logo"/>
                </a>
            </div>
            <ul class="navigator">
                <li id="homeTab"><a href="/{{languages.language}}/">{{languages.traductionFile.accueil}}</a></li>
                <li id="contactTab"><a href="/{{languages.language}}/about.html">{{languages.traductionFile.contact}}</a></li>
                <li id="serviceTab"><a href="/{{languages.language}}/services.html">{{languages.traductionFile.service}}</a></li>
                <li id="shopTab"><a href="/{{ languages.language }}/shop.html">{{languages.traductionFile.shopNow}}</a></li>
            </ul>
        </nav>
    </header>

    <div class="container">
        {{content|safe}}
    </div>

    <footer>
        <div>Copyright © 2021 Quick Exams - {{ languages.traductionFile.allrightReserved }}.</div>
    </footer>
</body>

</html>