<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <script src = "/js/changeLang.js"></script>
</head>

<body>
    <header>
        <nav>

            <div class="logo">
                <a href="/">
                    <img src="/asset/exam.svg" alt="quick-exams logo" width="50" />
                </a>
            </div>
            <ul>
                <li><a href="/{{languages.language}}/">Accueil</a></li>
                <li><a href="/{{languages.language}}/about.html">Contact</a></li>
                <li><a href="/{{languages.language}}/services.html">Services</a></li>
            </ul>
            <label for="lang">{{languages.traductionFile.selectLanguage}}</label>

            <select name="lang" id="lang">
            {% if languages.language == "fr"%}
                {% for lang in supportedLanguages %}
                <option value="{{lang}}">{{lang}}</option>
                {% endfor %}
            {% else %}
                {% for lang in supportedLanguages|reverse %}
                <option value="{{lang}}">{{lang}}</option>
                {% endfor %}
            {% endif %}
            </select>
        </nav>
    </header>

    <div class="container">
        {{content|safe}}
    </div>

    <footer>
        <div>Copyright © 2021 Quick Exams - {{ languages.traductionFile.allrightReserved }}.</div>
    </footer>
</body>

</html>