<!DOCTYPE html>
<html lang="{{languages.language}}">

<head>
    {% include "../partials/googleAnalitics.njk" %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {# retire les pages de l'indexation google #}
    <meta name="robots" content="noindex">
    <title>{{title}}</title>
    {%- set page = (title | replace("Quick Exams | ","")) %}
    {%- if page=="Service" %}
        {%- set pageDescription=languages.traductionFile.servicesDescription %}
    {%- elif page=="Shop" %}
        {%- set pageDescription=languages.traductionFile.shopDescription %}
    {%- elif page=="Accueil" %}
        {%- set pageDescription=languages.traductionFile.indexDescription %}
    {%- elif page=="Contact" %}
        {%- set pageDescription=languages.traductionFile.aboutDescription %}
    {% endif %}
    <meta name="description" content="{{ pageDescription }}" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Quick-Exams" />
    <meta property="og:image" content="https://www.quick-exams.ca/asset/exam.png" />
    <meta property="og:site_name" content="Quick-Exams">
    <meta property="og:url" content="{{FeatureFlagAndConfig.baseLink}}" />
    <meta property="og:description" content="{{languages.traductionFile.h1_index}}" />
    <meta property="og:locale" content="{{languages.language}}_CA" />
    {%- if FeatureFlagAndConfig.identity %}
    <script async src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    {%- endif %}
    <script src="/js/cssjava.min.js"></script>
    <link rel="stylesheet" href="/css/style.min.css" />
    <link rel="icon" type="image/x-icon" href="/asset/exam.svg" />
    <script id="mcjs">!function(c,h,i,m,p){m=c.createElement(h),p=c.getElementsByTagName(h)[0],m.async=1,m.src=i,p.parentNode.insertBefore(m,p)}(document,"script","https://chimpstatic.com/mcjs-connected/js/users/3b137f2f98f7f0263123e54fe/af4756ddaf73101ea8e054f78.js");</script>
</head>

<body>
    {% include "../partials/header.njk" %}

    <div class="container">
        {{content|safe}}
    </div>

    {% include "../partials/footer.njk" %}
</body>

</html>