<!DOCTYPE html>
<html lang="{{languages.language}}">

<head>
    {% include "../partials/googleAnalitics.njk" %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <meta name="description" content="{{languages.traductionFile.h1_index}}" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Quick-Exams" />
    <meta property="og:image" content="https://d33wubrfki0l68.cloudfront.net/9151e476a8a0a854155098d501b45d80dc01de8b/f9479/asset/exam.png" />
    <meta property="og:site_name" content="Quick-Exams">
    <meta property="og:url" content="{{FeatureFlagAndConfig.baseLink}}" />
    <meta property="og:description" content="{{languages.traductionFile.h1_index}}" />
    <meta property="og:locale" content="{{languages.language}}_CA" />
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <script id="mcjs">
        !function(c,h,i,m,p){m=c.createElement(h),p=c.getElementsByTagName(h)[0],m.async=1,m.src=i,p.parentNode.insertBefore(m,p)}(document,"script","https://chimpstatic.com/mcjs-connected/js/users/3b137f2f98f7f0263123e54fe/207d046f8016a35853778ef24.js");
    </script>
    <script src="/js/cssjava.min.js"></script>
    <link rel="stylesheet" href="/css/style.min.css" />
    <link rel="icon" type="image/x-icon" href="/asset/exam.svg" />
</head>

<body>
    {% include "../partials/header.njk" %}

    <div class="container">
        {{content|safe}}
    </div>

    {% include "../partials/footer.njk" %}
</body>

</html>