<!DOCTYPE html>
<html lang="{{languages.language}}">

<head>
    {% include "../partials/googleAnalitics.njk" %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <script id="mcjs">
        !function(c,h,i,m,p){m=c.createElement(h),p=c.getElementsByTagName(h)[0],m.async=1,m.src=i,p.parentNode.insertBefore(m,p)}(document,"script","https://chimpstatic.com/mcjs-connected/js/users/3b137f2f98f7f0263123e54fe/207d046f8016a35853778ef24.js");
    </script>
    <script src="/js/cssjava.min.js"></script>
    <link rel="stylesheet" href="/css/style.min.css" />
    <link rel="icon" type="image/x-icon" href="/asset/exam.svg" />
</head>

<body>
    <header>
        <div class="header-pic"></div>
        <nav>
            <div class="logo-side">
                {% include "../partials/languageSelector.njk" %}
                <div class="login" data-netlify-identity-menu></div>
            </div>
            <div class="logo">
                <a href="/">
                    <img src="/asset/exam.svg" alt="quick-exams logo" />
                </a>
            </div>
            <ul class="navigator">
                <li id="homeTab"><a href="/{{languages.language}}/">{{languages.traductionFile.accueil}}</a></li>
                <li id="contactTab"><a
                        href="/{{languages.language}}/about.html">{{languages.traductionFile.contact}}</a></li>
                <li id="serviceTab"><a
                        href="/{{languages.language}}/services.html">{{languages.traductionFile.service}}</a></li>
                <li id="shopTab"><a href="/{{ languages.language }}/shop.html">{{languages.traductionFile.shopNow}}</a>
                </li>
                <li><i class="fas fa-shopping-cart"></i></li>
            </ul>
        </nav>
    </header>

    <div class="container">
        {{content|safe}}
    </div>

    {% include "../partials/footer.njk" %}
</body>

</html>