---
pagination:
    data: languages
    size: 1
    alias: languages
permalink: /Template/{{ languages.language }}/Confirmation.html
---
{%set cela = "{{ .ConfirmationURL }}"%}
{%set ceci = "{{ .SiteURL }}"%}
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<h2>{{ languages.traductionFile.ConfirmSingup }}</h2>
<p>{{ languages.traductionFile.FollowLinkToConfirm }}</p>
<p>
    <a href="{{ cela }}">{{languages.traductionFile.ConfirmEmail}}</a>
</p>
<img src="{{ ceci }}/asset/Exam.svg" height="15" width="15">