---
title: Quick exams | Build
layout: /layouts/base.njk
pagination:
    data: languages
    size: 1
    alias: languages
permalink: /{{ languages.language }}/InBuilding.html
---

<section>
    <h1>{{languages.traductionFile.build_title}}</h1>
    <p>{{languages.traductionFile.build_paragraph}}</p>
</section>
