---
title: Test
layout: base.njk
pagination:
    data: languages
    size: 1
    alias: languages
permalink: /{{ languages.language }}/index.html
---

<h1>{{languages.traductionFile.title}}</h1>
<section>
    <h2>Need to do some stuff</h2>
    <p>Ici un certain texte :)</p>
    <div class="test"></div>
</section>
<script src="/js/message.js"></script>
