---  
permalink: ../_redirects  
---  
{%- for item in languages%}  
/   /{{item.language}}/index.html 200 Language={{item.language}}  
{%- endfor %}  
  
/   /fr/index.html 200

{%- for item in languages%}  
/*   /{{item.language}}/404.html 404 Language={{item.language}}  
{%- endfor %} 