---
permalink: netlify.toml
---
[[redirects]]
from = "/"
to = "/fr/index.html"
status = 404
force = false
{% for item in languages%}
[[redirects]]
from = "/"
to = "/{{item.language}}/index.html"
status = 200
force = false
conditions = {Language = "{{item.language}}"}
{% endfor %}