---
title: Quick exams | Service
layout: base.njk
pagination:
    data: languages
    size: 1
    alias: languages
permalink: /{{ languages.language }}/services.html
---

<section>
    <h1>{{languages.traductionFile.h2_service}}</h1>
    <p>{{languages.traductionFile.description_paragraphe}}</p>
    <p>{{languages.traductionFile.whatToInstall}}</p>
    <ul>
    {% for item in languages.traductionFile.modules %}
        <li>{{item}}</li>
    {% endfor %}
    </ul>
</section>
