---
title: Quick exams | Shop
layout: base.njk
pagination:
    data: languages
    size: 1
    alias: languages
permalink: /{{ languages.language }}/shop.html
---
{% for item in marketAPI %}
<section name="{{item.code}}">
    <div name="title">{{item.name}}</div>
    <div name="description">{{item.description}}</div>
    <div name="price">{{item.prix}}{{item.devise}}</div>
    <div name="periode">{{item.frequence}}</div>
    <button type="button" >{{languages.traductionFile.shop_addToCart}}</button>
</section>
<br>
{%endfor%}