---
title: Quick exams | Shop
layout: base.njk
pagination:
    data: languages
    size: 1
    alias: languages
permalink: /{{ languages.language }}/shop.html
---
<h1>{{languages.traductionFile.h1_shop}}</h1>
<div class="allItem">
    {% for item in marketAPI %}
    <section class="shopItem" name="{{item.code}}">
        <div name="title">{{item.name}}</div>
        <div name="description">{{item.description}}</div>
        <div name="priceButton">
            <div name="priceTag">
                <div name="price">{{item.prix}}{{item.devise}}</div>
                <div name="periode">{{item.frequence}}</div>
            </div>
            <form action="#" method="post" name="buyingForm">
                <input type="hidden" name="sku" value="{{item.code}}" />
                <button type="submit">{{languages.traductionFile.shop_addToCart}}</button>
            </form>
        </div>
    </section>
    {%endfor%}
</div>

<script src="../js/customMarket.js"></script>