---
pagination:
    data: languages
    size: 1
    alias: languages
permalink: /{{ languages.language }}/404.html
---
{%- set title=languages.traductionFile.404_title %}
<!DOCTYPE html>
<html lang="{{languages.language}}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <script src="/js/cssjava.min.js"></script>
    <link rel="stylesheet" href="/css/style.min.css" />
    <link rel="icon" type="image/x-icon" href="/asset/exam.svg" />
</head>
<body>
    {% include "../_includes/partials/header.njk" %}

    <div class="container">
        <h1>{{ title }}</h1>
        <p>{{languages.traductionFile.404_paragraph}}</p>
        <a href="/{{languages.language}}/">{{languages.traductionFile.accueil}}</a>
    </div>

    {% include "../_includes/partials/footer.njk" %}
</body>

</html>
