---
layout: /layouts/base.njk
title: Quick Exams | Accueil
pagination:
    data: languages
    size: 1
    alias: languages
permalink: /{{ languages.language }}/index.html
---
<h1>{{languages.traductionFile.h1_index}}</h1>
<section>
    <h2>{{languages.traductionFile.about_us}}</h2>
    <h3>{{languages.traductionFile.our_mission}}</h3>
    <p>{{languages.traductionFile.mission_paragraph}}</p>
</section>
<section>
    <h2>{{languages.traductionFile.newsletter_subscribe}}</h2>
    <p>{{languages.traductionFile.newsletter_paragraph}}</p>
    <form name="newsletter" data-netlify="true" netlify-honeypot="field">
        <input class="hidden" type="text" name="lang" value="{{languages.language}}" />
        <input type="email" name="email" id="email" placeholder="{{languages.traductionFile.newsletter_placeholder}}" />
        <p class="hidden">
            <label>Don’t fill this out if you’re human:</label>
            <label for="field">Name: <input name="field" id="field"/></label>
        </p>
        <button type="submit">{{languages.traductionFile.newsletter_button}}</button>
    </form>
</section>