---
layout: /layouts/base.njk
title: Quick Exams | Shop
pagination:
    data: languages
    size: 1
    alias: languages
permalink: /{{ languages.language }}/shop.html
---
<h1>{{languages.traductionFile.h1_shop}}</h1>
<div class="allItem">
    {% for item in marketAPI %}
        <section class="shopItem">
            <div class="title">{{item.name}}</div>
            <div class="description">{{item.description}}</div>
            <div class="priceButton">
                <div class="priceTag">
                    <div class="price">{{item.prix}}{{item.devise}}</div>
                    <div class="periode">{{item.frequence}}</div>
                </div>
                <form action="#" method="post" name="buyingForm">
                    <input type="hidden" name="callbackURLLanguge" value="{{ languages.language }}" />
                    <input type="hidden" name="sku" value="{{item.code}}" />
                    <button type="submit">{{languages.traductionFile.shop_addToCart}}</button>
                </form>
                <button onClick="showReviews(this)" value="{{item.code}}" class="btnReview">{{ languages.traductionFile.review_button }}</button>
            </div>
            <div class="reviewBlock" id="{{item.code}}">
                {% for review in item.reviews %}
                    <p class="reviewDes"> {{ review.description }} </p>
                {%endfor%}
                <form name="reviews" data-netlify="true" netlify-honeypot="true">
                    <h4> {{languages.traductionFile.review_messsage}}</h4>
                    <textarea name="message" id="message{{item.code}}" cols="30" rows="3"></textarea>
                    <p class="hidden">
                        <label>Don't fill this out if you're human: </label>
                        <label for="field{{item.code}}">Name: <input name="field" id="field{{item.code}}"/></label>
                    </p>
                    <input type="hidden" name="id" value="{{item.code}}" />
                    <button type="submit">{{languages.traductionFile.form_mail_button}}</button>
                </form>
            </div>
        </section>
    {%endfor%}
</div>
<div class="avertissement">{{languages.traductionFile.shop_warning}}</div>
<script src="https://js.stripe.com/v3"></script>
<script src="/js/market.min.js"></script>