---
title: Quick exams | Shop
layout: /layouts/base.njk
pagination:
    data: languages
    size: 1
    alias: languages
permalink: /{{ languages.language }}/shop.html
---
<h1>{{languages.traductionFile.h1_shop}}</h1>
<div class="allItem">
    {% for item in marketAPI %}
        <section class="shopItem" name="{{item.code}}">
            <div name="title">{{item.name}}</div>
            <div name="description">{{item.description}}</div>
            <div name="priceButton">
                <div name="priceTag">
                    <div name="price">{{item.prix}}{{item.devise}}</div>
                    <div name="periode">{{item.frequence}}</div>
                </div>
                <form action="#" method="post" name="buyingForm">
                    <input type="hidden" name="sku" value="{{item.code}}" />
                    <button type="submit">{{languages.traductionFile.shop_addToCart}}</button>
                </form>
                <button onClick="showReviews(this)" value="{{item.code}}" class="btnReview">{{ languages.traductionFile.review_button }}</button>
            </div>
            <div class="reviewBlock" id="{{item.code}}">
                {% for review in item.reviews %}
                    <p class="reviewDes"> {{ review.description }} </p>
                {%endfor%}
                <form name="reviews" data-netlify="true" netlify-honeypot="true">
                    <h4> {{languages.traductionFile.review_messsage}}</h4>
                    <textarea name="message" id="message" cols="30" rows="3"></textarea>
                    <p class="hidden">
                        <label>Don't fill this out if you're human: </label>
                        <label for="field">Name: <input name="field" id="field"/></label>
                    </p>
                    <input type="hidden" name="id" value="{{item.code}}" />
                    <button type="submit">{{languages.traductionFile.form_mail_button}}</button>
                </form>
            </div>
        </section>
    {%endfor%}
</div>
<script src="js/market.min.js"></script>