---
title: Quick Exams | Success
layout: /layouts/base.njk
pagination:
    data: languages
    size: 1
    alias: languages
permalink: /{{ languages.language }}/success.html
---

<h1>{{languages.traductionFile.success_buy}}</h1>